<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738332298428-uvl3fv433l6i6a0cbogae0kqo9b49o0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738332298428-uvl3fv433l6i6a0cbogae0kqo9b49o0o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>738332298428-4kp569tub61gi8jvnkb97luc33acs4f9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDPw4fZJkFgVgEt8hXARLa5ummGy2S8Wgw</string>
	<key>GCM_SENDER_ID</key>
	<string>738332298428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xommore.freelancerapp</string>
	<key>PROJECT_ID</key>
	<string>freelancerapp-ba4db</string>
	<key>STORAGE_BUCKET</key>
	<string>freelancerapp-ba4db.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738332298428:ios:47555a6198655d03af94b9</string>
</dict>
</plist>